<p>===> Слайдер <===</p>

    <div class="container">

        <div class="itc-slider" data-slider="itc-slider" data-loop="false" data-autoplay="false">
            <div class="itc-slider__wrapper">
                <div class="itc-slider__items">
                    <div class="itc-slider__item">
                        <img class="img" src="C:\Users\Toshka\Desktop\slider\london.jpg" width="600" height="500">
                    </div>
                    <div class="itc-slider__item">
                        <img src="C:\Users\Toshka\Desktop\LifeSpot-main\LifeSpot\Views\SliderImg\ny.jpg" class="photo">
                    </div>
                    <div class="itc-slider__item">
                        <img src="spb.jpg" class="photo">
                    </div>
                </div>
            </div>
            <button class="itc-slider_btn itc-slider__btn_prev"></button>
            <button class="itc-slider_btn itc-slider__btn_next"></button>
        </div>
    </div>
