<div class="container">

    <div class="itc-slider" data-slider="itc-slider" data-loop="false" data-autoplay="false">
        <button id="btnLeft" onclick="previous(currentImage.index);"><=</button>
        <div class="itc-slider__wrapper">
            <div class="itc-slider__items">
                <div class="itc-slider__item">
                    <img class="img" src="../../SliderImg/london.jpg" width="600" height="500">
                </div>
                <div class="itc-slider__item">
                    <img src="../../SliderImg/ny.jpg" class="photo">
                </div>
                <div class="itc-slider__item">
                    <img src="../../SliderImg/spb.jpg" class="photo">
                </div>
            </div>
        </div>
        <button id="btnRight" onclick="next(currentImage.index);">=></button>
        <script>showImageBlock(0);</script>
    </div>
</div>
